<div class="container">
  <p>
    <span>
      <mat-button-toggle-group [(ngModel)]="sort" aria-label="Name count" [(value)]="sort">
        <mat-button-toggle value="all" >Все жильцы</mat-button-toggle>
      </mat-button-toggle-group>
        <button mat-raised-button (click)="getOwners()">Загрузить</button>
         <router-outlet></router-outlet>
      </span>
  </p>

  <div *ngIf="allOwners.length !== 0">
    <ng-container *ngFor="let owner of allOwners">
      <form>
        <app-owner [owner]="owner" (ownerSelected)="onOwnerSelected($event)" ></app-owner>
        <br>
      </form>
    </ng-container>
  </div>

  <div class="inform-container" *ngFor="let owner of allOwners">
    <div class="mat-card" *ngIf="selectedOwnerId === owner.id">
      <mat-card>
        <mat-card >

          <mat-card-header class="name">Недвижимость владельца {{owner.surname}}
            {{ owner.name }} {{owner.patronymics}}</mat-card-header>

          <mat-card-content>
            <table mat-table [dataSource]="allFlats">
              <ng-container matColumnDef="flatNumber">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let flat">Квартира №{{flat.flatNumber}} </td>
              </ng-container>

              <ng-container class="sa" matColumnDef="area">
                <th mat-header-cell class="as" *matHeaderCellDef> Площадь </th>
                <td mat-cell *matCellDef="let flat">{{flat.area}}</td>
              </ng-container>

              <ng-container matColumnDef="floorSpace">
                <th mat-header-cell *matHeaderCellDef> Жилая площадь </th>
                <td mat-cell *matCellDef="let flat"> {{flat.floorSpace}} </td>
              </ng-container>

              <ng-container matColumnDef="roomValue">
                <th mat-header-cell *matHeaderCellDef> Количество комнат </th>
                <td mat-cell *matCellDef="let flat"> {{ flat.roomValue }} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


          </mat-card-content>
        </mat-card>
      </mat-card>
    </div>
  </div>
</div>
